version: '3'
services:
  pulsar:
    image: apachepulsar/pulsar:4.1.2
    command: bin/pulsar standalone
    ports:
      - "6650:6650"
      - "8080:8080"
    environment:
      TZ: "America/Santiago"
    volumes:
      - /etc/localtime:/etc/localtime:ro
