.main-content { max-width: 700px; margin-top: 50px; }
.form-group { margin-bottom: 15px; text-align: left; }
.form-group label { display: block; margin-bottom: 5px; font-weight: bold; color: #444; }
.form-group input, .form-group select, .form-group textarea {
    width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; font-size: 1em;
}
.helptext { font-size: 0.8em; color: #666; margin-top: 2px; display: block; }
header { height: 120px; }