{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificaciones Tributarias | Administración</title>
    <link rel="stylesheet" href="{% static 'clasificiones.css' %}">
</head>
<body>

    <header class="main-header">

        <nav class="nav-links">
            <a href="{% url 'index' %}" class="nav-link">Volver al Inicio</a>
        </nav>

        <div class="user-session">
            <span class="username">user: {{ usuario.nombre }} {{ usuario.apellido }}</span>
        </div>
    </header>

    <main class="tabla-container">
        <h1 class="titulo">Clasificaciones Tributarias</h1>

        <table id="clasificacionesTable">
            <thead>
                <tr>
                    <th>ID Clasificación</th>
                    <th>Tipo de Tributo</th>
                    <th>Monto</th>
                    <th>Actividad Económica</th>
                    <th>Código CIIU</th>
                    <th>Régimen</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clasificaciones %}
                <tr>
                    <td>{{ c.id_clasificacion }}</td>
                    <td>{{ c.tipo_de_tributo }}</td>
                    <td>{{ c.monto }}</td>
                    <td>{{ c.actividad_economica }}</td>
                    <td>{{ c.codigo_CIIU }}</td>
                    <td>{{ c.regimen }}</td>
                    <td>{{ c.categoria }}</td>
                    <td>{{ c.fecha_de_creacion }}</td>
                    <td>
                        <a href="#" class="manage-link" style="color: blue; text-decoration:none;">Editar</a>
                        &nbsp;|&nbsp;
                        <a href="#" class="manage-link" style="color: red; text-decoration:none;">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer class="footer"></footer>

</body>
</html>